.header {
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  
.navigation {
    margin: 0 auto;
    max-width: 1000px;
  }
  

  


  
  a {
    text-decoration: none;
    cursor: pointer;
    color: #313131;
  }
  
  a:hover {
    color: #198754;
    text-decoration: underline;
  }